
<div class="jumbotron">

    <div class="row">
        <div class="col-md-3">
            <div style="margin-left:100px">
                <img class="logo" src="/logo.gif" alt="WHP Logo"></div>
        </div>

        <div class="col-md-9">
            <div style="margin-left:50px">
                <h2 style="margin-left:80px">Women's Health Project</h2>
                <h3 >UNC Charlotte Psychology Department Research</h3></div>
        </div>

    </div>
 </div>