<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,700,400' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
  	
	<title>Women's Health Project</title>
</head>
<body>
<section class="cd-intro">
	<div class="cd-intro-content bouncy">
		<h1>WOMEN'S HEALTH PROJECT</h1>
		<p>UNC CHARLOTTE PYSCHOLOGY DEPARTMENT RESEARCH</p>
		<nav class="main-nav">
			<ul>
				<li><a class="cd-signin" href="#0">SIGN IN</a></li>
			</ul>
		</nav>
	</div>
</section>
<div class="cd-user-modal"> <!-- this is the entire modal form, including the background -->
	<div class="cd-user-modal-container"> <!-- this is the container wrapper -->
			<div class="cd-switcher">
			<a href="#0">SIGN IN</a></div>

		<div id="cd-login"> <!-- log in form -->
			<form class="cd-form">
				<p class="fieldset">
					<label class="image-replace cd-username" for="signin-username">Username</label>
					<input class="full-width has-padding has-border" id="signin-username" type="text" placeholder="Username">
					<span class="cd-error-message" id="usernameError"></span>
				</p>

				<p class="fieldset">
					<label class="image-replace cd-password" for="signin-password">Password</label>
					<input class="full-width has-padding has-border" id="signin-password" type="password"  placeholder="Password">
					<a href="#0" class="hide-password">Show</a>
					<span class="cd-error-message" id="passwordError"></span>
				</p>
				<!-- <p class="fieldset">
					<input type="checkbox" id="remember-me" checked>
					<label for="remember-me">Remember me</label>
				</p> -->

				<p class="fieldset">
					<input class="full-width" type="submit" value="LOGIN" id="submit">
				</p>
				<span id="submitError" style="margin-top: 10px;color: red;"></span>
			</form>
			
			<!-- <p class="cd-form-bottom-message"><a href="#0">Forgot your password?</a></p> -->
		</div> <!-- cd-login -->

		<div id="cd-reset-password"> <!-- reset password form -->
			<p class="cd-form-message">Lost your password? Reset here.</p>

			<form class="cd-form">
				<p class="fieldset">
					<label class="image-replace cd-password" for="signin-password">Password</label>
					<input class="full-width has-padding has-border" id="signin-password" type="password"  placeholder="Password">
					<a href="#0" class="hide-password">Show</a>
					<span class="cd-error-message">Error</span>
				</p>
				<p class="fieldset">
					<label class="image-replace cd-password" for="signin-password">Confirm Password</label>
					<input class="full-width has-padding has-border" id="signin-password" type="password"  placeholder="Confirm Password">
					<a href="#0" class="hide-password">Show</a>
					<span class="cd-error-message">Error</span>
				</p>

				<p class="fieldset">
					<input class="full-width has-padding" type="submit" value="Reset password">
				</p>
			</form>

			<p class="cd-form-bottom-message"><a href="#0">Back to log-in</a></p>
		</div> <!-- cd-reset-password -->
		<a href="#0" class="cd-close-form">Close</a>
	</div> <!-- cd-user-modal-container -->
</div> <!-- cd-user-modal -->	
<footer style="position:fixed;right: 0;bottom: 0;left: 0;padding: 1rem;background-color: #efefef;text-align: center;">
  <p>© 2016 Women's Health Project</p>
  <p>Contact: <a href="mailto:fcacheli@uncc.edu">
  Dr. Fary Cachelin</a>, <a href="mailto:vgilriva@uncc.edu">
  Dr. Virginia Gil-Rivas</a>
  </p>
</footer>
<script src="js/jquery-2.1.4.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
</body>
</html>