<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700' rel='stylesheet' type='text/css'>
	

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	
  	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.js"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  	<script src="js/modernizr.js"></script> <!-- Modernizr -->
  	<script src="js/controllers.js"></script>
  	<script src="js/timeline.js"></script> 
	<title>Women's Health Project</title>
</head>
<body ng-app="bingeApp" ng-controller="timelineController" style="background-color: #F6F6F6;">
	<header role="banner">
		<div class="container group">
		    <h1>WOMEN'S HEALTH PROJECT</h1><br>
		    <p>UNC CHARLOTTE PSYCHOLOGY DEPARTMENT RESEARCH</p>
		  </div>
		<div id="cd-logo"><a href="#0"><img src="img/logo.gif" alt="Logo"></a></div>
		<nav class="main-nav" style="float: right;">
			<ul>
				<li><a id="viewUsers" class="cd-signin" href="#0" style="visibility: hidden;">VIEW USERS</a></li>
				<li><a id="signout" class="cd-signin" href="#0">SIGN OUT</a></li>
			</ul>
		</nav>
	</header>
	
	<section id="cd-timeline" class="cd-container">
		<div class="cd-timeline-block" ng-repeat="user in users" ng-model="activity">
			<div class="cd-timeline-img">
			</div> 
	
			<div class="cd-timeline-content">
				<h2><a ng-click="setUserIndex($index)">Participant {{user.Username}}</a></h2>
				<span class="cd-date">{{user.CreateDateTime | format}}</span>
			</div> 
		</div> 
		<span id="submitTimeline" style="margin-top: 10px;"></span>
	</section> 
	<footer style="position:fixed;right: 0;bottom: 0;left: 0;padding: 1rem;background-color: #efefef;text-align: center;">
	  <p>© 2016 Women's Health Project</p>
	  <p>Contact: <a href="mailto:fcacheli@uncc.edu">
	  Dr. Fary Cachelin</a>, <a href="mailto:vgilriva@uncc.edu">
	  Dr. Virginia Gil-Rivas</a>
	  </p>
	</footer>
	<a href="#0" class="cd-top">Top</a>
</body>
</html>