<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
  	
	<title>Women's Health Project</title>
</head>
<body style="background-color: #F6F6F6;" ng-app="bingeApp" ng-controller="usersController" onload="setupqr()">
	<header role="banner">
		<div class="container group">
		    <h1>WOMEN'S HEALTH PROJECT</h1><br>
		    <p>UNC CHARLOTTE PSYCHOLOGY DEPARTMENT RESEARCH</p>
		</div>
		<nav class="main-nav" style="float: right;">
		<ul>
			<li><a id="createUser" class="cd-signin" href="#0">CREATE USER</a></li>
			<li><a id="signout" class="cd-signin" href="#0">SIGN OUT</a></li>
		</ul>
	</nav>
		<div id="cd-logo"><a href="#0"><img src="img/logo.gif" alt="Logo"></a></div>

	</header>

	<div class="cd-popup" role="alert">
	<div class="cd-popup-container">
		<p id="alert"></p>
		<!-- <ul class="cd-buttons">
			<li><a href="#0">Yes</a></li>
			<li><a href="#0">No</a></li>
		</ul> -->
		<!-- <a href="#0" class="cd-popup-close img-replace">Close</a> -->
	</div>
	</div>

	<div class="cd-pricing-container" id="userDiv">
		<div class="cd-pricing-switcher">
			<p class="fieldset">
				<input type="radio" name="duration-1" value="monthly" id="monthly-1" checked>
				<label for="monthly-1">Supporters</label>
				<input type="radio" name="duration-1" value="yearly" id="yearly-1">
				<label for="yearly-1">Participants</label>
				<span class="cd-switch"></span>
			</p>
		</div> <!-- .cd-pricing-switcher -->
		<table id="qr" style="display: none">
			<tr>
				<td>
					<!-- <div id="qrdiv"> -->
					    <canvas id="qrcanv"}>No Canvas Support?
					<!-- </div> -->
				</td>
				<td style="vertical-align: middle;">
					<input type="image" src="img/save.png" id="qrDone">
				</td>
			</tr>
		</table>
		

		
		<div>
		<ul class="cd-pricing-list cd-bounce-invert">
			<li>
				<ul class="cd-pricing-wrapper">
					<li data-type="monthly" class="is-visible">
						<table class="t1" id="supporterTable">
							<thead>
								<th style="display: none;">User Id</th>
								<th>Username</th>
								<th style="display: none;">Password</th>
								<th>Email Id</th>
								<th style="display: none;">Salt</th>
								<th></th>
								<th></th>
							</thead>
							<tbody>
								<tr ng-repeat="supporter in supporters">
									<td style="display: none;" contenteditable="true">{{supporter.UserId}}</td>
									<td contenteditable="true">{{supporter.Username}}</td>
									<td style="display: none;"  contenteditable="true">{{supporter.HashedPassword}}</td>
									<td contenteditable="true">{{supporter.SupporterId}}</td>
									<td style="display: none">{{supporter.Salt}}</td>
									<td style="vertical-align: middle;"><input type="image" src="img/save.png" ng-click="editSupporter($index)" disabled></td>
									<td style="vertical-align: middle;"><input type="image" src="img/del.png" ng-click="delSupporter($index)"></td>
									</td>
								</tr>
							</tbody>
						</table>
					</li>

					<li data-type="yearly" class="is-hidden">
						<table class="t1" id="participantTable">
							<thead>
								<th style="display: none;">User Id</th>
								<th >Username</th>
								<th style="display: none;">Password</th>
								<th>Supporter Id</th>
								<th>Level</th>
								<th>Score</th>
								<th>Messages</th>
								<th>Image Tagging</th>
								<th style="display: none;">Salt</th>
								<th></th>
								<th></th>
								<th></th>
								
							</thead>
							<tbody>
								<tr ng-repeat="participant in participants">
									<td style="display: none;" contenteditable="true">{{participant.UserId}}</td>
									<td contenteditable="true">{{participant.Username}}</td>
									<td style="display: none;">{{participant.HashedPassword}}</td>
									<td contenteditable="true">{{participant.SupporterId}}</td>
									<td contenteditable="true">{{participant.Level}}</td>
									<td>{{participant.Score}}</td>
									<td contenteditable="true">{{participant.Messages}}</td>
									<td contenteditable="true">{{participant.ImageTagging}}</td>
									<td style="display: none;">{{participant.Salt}}</td>
									<td style="vertical-align: middle;"><input type="image" src="img/save.png" ng-click="editParticipant($index)" disabled></td>
									<td style="vertical-align: middle;"><input type="image" src="img/del.png" ng-click="delPartcipant($index)"></td>
									<td style="vertical-align: middle;"><input type="image" src="img/qr.png" ng-click="generateQRCode($index)"></td>
									
								</tr>
							</tbody>
						</table>
					</li>
					<span id="submitUser" style="margin-top: 10px;"></span>
				</ul> <!-- .cd-pricing-wrapper -->
			</li>
		</ul> <!-- .cd-pricing-list -->
		</div>
	</div> <!-- .cd-pricing-container -->


	<div class="cd-user-modal"> <!-- this is the entire modal form, including the background -->
		<div class="cd-user-modal-container"> <!-- this is the container wrapper -->
				<div class="cd-switcher">
				<a href="#0">CREATE USER</a></div>

			<div id="cd-login"> <!-- log in form -->
				<form class="cd-form">
					<p class="fieldset">
						<label class="image-replace cd-username" for="create-username">Username</label>
						<input class="full-width has-padding has-border" id="create-username" type="text" placeholder="Username">
						<span class="cd-error-message" id="usernameError"></span>
					</p>

					<p class="fieldset" id="passwordField" style="display: none">
						<label class="image-replace cd-password" for="create-password">Password</label>
						<input class="full-width has-padding has-border" id="create-password" type="password"  placeholder="Password">
						<a href="#0" class="hide-password">Show</a>
						<span class="cd-error-message" id="passwordError"></span>
					</p>

					<p class="fieldset">
						<label class="image-replace cd-username" for="create-role">Role</label>
						<select class="full-width has-padding has-border" id="create-role">
							<option value="Participant">Participant</option>
							<option value="Supporter" >Supporter</option>
						</select>
					</p>

					<p class="fieldset">
						<label class="image-replace cd-username" for="create-supporter">Supporter</label>
						<input style="display: none" class="full-width has-padding has-border" id="create-supporter-email" type="email"  placeholder="E-mail">
						<select class="full-width has-padding has-border" id="create-supporter-select" >
							<option value='{{supporter.SupporterId}}' ng-repeat="supporter in supporters">{{supporter.SupporterId}}</option>
						</select>
					</p>

					<p class="fieldset" id="options">
						<input type="checkbox" id="messages">
						<label for="messages">Messages</label>
						<input type="checkbox" id="images" style="margin-left: 50px;">
						<label for="images">Image Tagging</label>
					</p>

					<p class="fieldset">
						<input class="full-width" type="submit" value="CREATE" id="submit">
					</p>
					<span id="submitError" style="margin-top: 10px;color: red;"></span>
				</form>
				
				<!-- <p class="cd-form-bottom-message"><a href="#0">Forgot your password?</a></p> -->
			</div> <!-- cd-login -->

			<a href="#0" class="cd-close-form">Close</a>
		</div> <!-- cd-user-modal-container -->
	</div> <!-- cd-user-modal -->	


<footer style="position:static;right: 0;bottom: 0;left: 0;padding: 1rem;background-color: #efefef;text-align: center;">
  <p>© 2016 Women's Health Project</p>
  <p>Contact: <a href="mailto:fcacheli@uncc.edu">
  Dr. Fary Cachelin</a>, <a href="mailto:vgilriva@uncc.edu">
  Dr. Virginia Gil-Rivas</a>
  </p>
</footer>
<a href="#0" class="cd-top">Top</a>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.js"></script>	
<script src="js/jquery-2.1.4.js"></script>
<script src="js/controllers.js"></script>
<script src="js/users.js"></script> <!-- Resource jQuery -->

<script src="js/QRCode.js"></script>
</body>
</html>